<div class="bg-no-repeat bg-cover p-1 h-screen border-t-2 border-white filter saturate-150" style="background-image: url('https://wallpapercave.com/wp/vFtdTLh.jpg')">
<div class="container mx-auto w-1/3 box-border p-4 border-4 border-white bg-black mt-4 hover:shadow-2xl hover:transition hover:duration-400">
    <h2 class="text-6xl mb-4 text-white font-normal">Log In</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-group text-standard">
            <label for="username">Username:</label>
            <input name="username" id="username" class="form-control" [(ngModel)]="userLoginInfo.username" required
            #nameField="ngModel"
            [class.field-error]="!form.submitted && nameField.valid">
            <div [hidden]="!form.submitted || nameField.value" class="alert alert-danger">Enter Username</div>
    </div>

    <div class="form-group text-standard">
        <label for="password">Password:</label>
        <input class="form-control" name="password" id="password" [(ngModel)]="userLoginInfo.password" required
        #nameField="ngModel"
        [class.field-error]="!form.submitted && nameField.valid">
        <div [hidden]="!form.submitted || nameField.value" class="alert alert-danger">Enter Password</div>
    </div>

    <div [hidden]="!postError"
    class="alert alert-danger">
        {{postErrorMessage}}
    </div>
    <button class="btn btn-primary mt-2 font-normal">Send</button>
    </form>
</div>
</div>

