<div>
  <form [formGroup]="tradeForm">

    <mat-toolbar class="flex justify-center items-center mb-2" color="primary">
      <h1>Trade Request</h1>
    </mat-toolbar>

    <div class="w-full mt-2">
    <mat-form-field *ngIf="currentUser$ | async as user" class="w-full mb-2 mt-2">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter username" [value]="username" readonly>
    </mat-form-field>
    </div>

    <h2 class="font-semibold">Choose a Pokemon to Trade</h2>
    <br>
    <!-- Selected Pokemon -->
    <div class="w-full mb-2">
      <mat-form-field class="w-full" *ngIf="userPokemon$ | async as userPokemon">
        <mat-label>Choose</mat-label>
        <mat-select matInput [formControl]="tradeForm.controls.selectedPokemon">
          <mat-select-trigger>
            {{tradeForm.controls.selectedPokemon.value | titlecase}}
          </mat-select-trigger>
          <mat-optgroup *ngFor="let pokemon of userPokemon" [label]="pokemon.name | titlecase">
            <mat-option [value]="pokemon.name" (click)="getImage(pokemon.image)" (click)="pokemonSelected()">
              <img class="h-full w-auto" [src]="pokemon.image">
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </div>
    <!-- Comment -->
    <div class="w-full mb-2">
      <mat-form-field class="w-full">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Enter text" [formControl]="tradeForm.controls.text" spellcheck="false"></textarea>
        <mat-error *ngIf="tradeForm.controls.text.hasError('wordLength')">Maximum 75 Words</mat-error>
        <mat-error *ngIf="tradeForm.controls.text.hasError('pattern')">Only Alphabetical Characters</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center mt-2" [hidden]="!postError">
      <mat-error>All fields are Required</mat-error>
    </div>

  </form>

  <!-- pokemon images -->
  <div *ngIf="selected" class="flex flex-row justify-evenly items-center mb-2">
    <!-- First pokemon -->
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-standard-black">Your Pokemon</h1>
      <img class="w-16 h-16 rounded-full mx-auto mb-2" [src]="message.tradePokemonImage">
      <h1 class="text-standard-black"> {{tradeForm.controls.selectedPokemon.value | titlecase}}</h1>
    </div>
    <!-- Second Pokemon -->
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-standard-black">{{data.passedUsername}}'s Pokemon</h1>
      <img class="w-16 h-16 rounded-full mx-auto mb-2" [src]="data.passedUserPokemon">
      <h1 class="text-standard-black">{{data.passedPokemonName | titlecase}}</h1>
    </div>
  </div>

<!-- buttons -->
<mat-dialog-actions>
  <div class="flex flex-row justify-evenly items-center min-w-full">
    <div class="flex justify-center items-center">
      <button class="mt-2" mat-raised-button color="primary" (click)="trade()">Trade</button>
    </div>
    <div class="flex justify-center items-center">
      <button class="mt-2" mat-raised-button color="warn" (click)="cancelTrade()">Cancel</button>
    </div>
  </div>

</mat-dialog-actions>
</div>
