<nav class="flex items-center justify-between flex-wrap bg-black p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img class="fill-current h-12 w-12 mr-2 border-slate-800" width="68" height="68" viewBox="0 0 68 68"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDi3V6uHn-9Kx8MvBN72rEnV7pSqlcWibj2Q&usqp=CAU" />
    <span class="font-semibold text-xl tracking-tighter cursor-default">Pokemon Trading</span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-lg lg:flex-grow mb-4">
      <a class="block mt-4 lg:inline-block lg:mt-0 text-white mr-6" routerLink="/home">
        <span class="hover:text-yellow-500 ease-out transition">Home</span>
      </a>
      <a class="block mt-4 lg:inline-block lg:mt-0 text-white mr-6" routerLink="/userprofile">
        <span class="hover:text-yellow-500 ease-out transition">Profile</span>
      </a>
      <a class="block mt-4 lg:inline-block lg:mt-0 text-white mr-6" routerLink="/pokemon">
        <span class="hover:text-yellow-500 ease-out transition">Pokemon</span>
      </a>
      <a class="block mt-4 lg:inline-block lg:mt-0 text-white mr-6" routerLink="/users">
        <span class="hover:text-yellow-500 ease-out transition">Trade</span>
      </a>
      <a class="block mt-4 lg:inline-block lg:mt-0 text-white" routerLink="/pokeballs">
        <span class="hover:text-yellow-500 ease-out transition">Collect</span>
      </a>
    </div>
  </div>
</nav>





