<!-- <div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>
        <div class='row'>
            <div>Find Pokemon: </div>
            <div>
                <input class="border-4 border-red-600" type='text'
                [(ngModel)]="specificPokemon"/>
            </div>
        </div>
        <div class ='row'>
        </div>
        <div class='row'>
        <div class='table-responsive'>
            <table class='table' *ngIf="show">
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                            (click)="toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Add Pokemon to Database</th>
                        <th>Add Pokemon To users PokeIndex</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Index</th>
                    </tr>
                </thead>
                <tbody *ngIf="pokemonAction$ | async as pokemon">
                     <tr  *ngFor="let pokemon of pokemons"> -->
                      <!-- <tr>
                        <td>

                            <img *ngIf="showImage"
                            [src]="pokemon.image"
                             [title]="pokemon.name"
                             [style.width.px]="imageWidth"
                             [style.margin.px]="imageMargin"
                             >

                        </td>
                        <td>
                        </td>
                        <td>
                            <button class="btn btn-primary"
                            (click)="updatePokemon(pokemon)">Update PokeIndex</button>
                        </td>
                        <td>{{pokemon.name | titlecase }}</td>
                        <td>{{pokemon.weight}}</td>
                        <td>{{pokemon.index}}</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</div> -->


  <!-- grid for pokemon -->
  <div *ngIf="apiPokemon$ | async as pokemon" class="grid grid-rows-auto grid-cols-3 gap-4 h-auto w-auto mx-auto justify-items-center">
    <!-- pokemon card -->
    <div *ngFor="let poke of pokemon" class="bg-black box-border border-4 border-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-400 duration-300">
      <div class="photo-wrapper p-2">
        <button (click)="updatePokemon(poke)">
        <img class="w-32 h-32 rounded-full mx-auto filter saturate-150 object-center" [src]="poke.sprites.front_shiny" alt="Pokemon">
      </button>
        </div>
        <div class="p-2">
          <h3 class="text-xl text-center text-white font-medium leading-8">Weight: {{poke.weight}}</h3>
        <h3 class="text-xl text-center text-white font-medium leading-8">{{poke.name | titlecase}}</h3>
        <h3 class="text-xl text-center text-white font-medium leading-8">Index: {{poke.index}}</h3>
        <h3 *ngFor="let ability of poke.abilities" class="text-xl text-center text-white font-medium leading-8">Ability: {{ability.ability.name | titlecase}}</h3>
        <h3 *ngFor="let stat of poke.stats" class="text-xl text-center text-white font-medium leading-8">Stat: {{stat.stat.name}}</h3>
        </div>
    </div>
</div>

