<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Find Pokemon: </div>
            <div class='col-md-4'>
                <input type='text'
                [(ngModel)]="specificPokemon"/>
            </div>
        </div>
        <div class ='row'>
            <button class="btn btn-primary"
            (click)="getPokemon()">
                Find
            </button>
        </div>
        <div class='row'>
        <div class='table-responsive'>
            <table class='table' *ngIf="show">
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                            (click)="toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Add to PokeIndex</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let pokemon of pokemons">
                        <td>
                            <a [routerLink]="['/pokemonCard', pokemon.name]">
                            <img *ngIf="showImage"
                            [src]="pokemon.image"
                             [title]="pokemon.name"
                             [style.width.px]="imageWidth"
                             [style.margin.px]="imageMargin"
                             >
                             </a>
                        </td>
                        <td>
                            <button class='btn btn-primary'
                            (click)="addPokemon(pokemon.name, pokemon.weight, pokemon.index, pokemon.abilities)">Add
                        </button>
                        </td>
                        <td>{{pokemon.name | titlecase }}</td>
                        <td>{{pokemon.weight}}</td>
                        <td>{{pokemon.index}}</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>
