<div class="card">
    <img class="card-img-top"
    [src]="pokemon.image"
    [title]="pokemon.name">
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.name | titlecase}}</h5>
      <p class="card-text">Pokemon</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let ability of pokemon.abilities">{{'Ability: '+ ability.ability.name | titlecase}}</li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let stat of pokemon.stats">{{stat.stat.name + ': ' + stat.base_stat}}</li>
      </ul>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary"
        stlye="width:80px"
        (click)="onBack()">
        <i class="fa fa-chevron-left"></i>Back
    </button>
    </div>
  </div>
