<div class="grid grid-cols-3 grid-rows-2">
  <div *ngFor="let picture of profilePictures$ | async">
    <div [ngClass]="{profilePicture : reactivePicture === picture}">
      <div class="photo-wrapper p-2">
        <button (click)="transferPicture(picture)">
          <img class="w-32 h-32 rounded-full mx-auto" [src]="picture" alt="Profile Picture">
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="reactivePicture" class="flex flex-col justify-center items-center">
  <div class="photo-wrapper p-2">
    <img class="w-32 h-32 rounded-full mx-auto" [src]="reactivePicture" alt="Profile Picture">
  </div>
  <button class="text-white bg-black hover:bg-white hover:text-black transition ease-in  font-normal py-2 px-4 rounded-full"
    (click)="changeProfilePicture(reactivePicture)">
    Change
  </button>
</div>
