<div *ngIf="userProfile$ | async as profile">
<div class="h-max min-h-screen bg-gradient-to-r from-black to-white">
  <!-- flex for user profile info and pokemon display to the right -->
  <div class="flex flex-row w-screen h-16 border-t-2 border-white justify-center">
<h1 class="text-white font-bold text-2xl items-center">Profile Page</h1>
  </div>
  <div class="h-1/4 flex flex-row justify-evenly">
    <div class="flex flex-col w-1/2 justify-center items-center">
      <!-- profile card -->
      <div class="photo-wrapper p-2">
        <img class="w-32 h-32 rounded-full mx-auto" [src]="profile.currentUser.profilePicture" alt="Good Old John Doe">
        </div>
        <div class="p-2">
        <h3 class="text-xl text-center text-white font-medium leading-8">{{profile.currentUser.firstName | titlecase}} {{profile.currentUser.lastName | titlecase}}</h3>
                <p class="text-white text-xs text-center font-semibold">Pokemon Trainer</p>
              </div>
        <table class="text-xs">
            <tbody>
              <tr>
                <td class="p-2 font-semibold text-white">Email:</td>
                <td class="p-2 text-white">{{profile.currentUser.email}}</td>
              </tr>
              <tr>
                <td class="p-2 text-white font-semibold">Username:</td>
                <td class="p-2 text-white">{{profile.currentUser.username}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="profile.clickedPokemon" class="flex flex-col w-1/2 justify-center items-center">
      <!-- pokemon face -->
        <div class="box-border border-4 border-black">
        <img class="w-max h-max rounded-full mx-auto" [src]="profile.clickedPokemon.image" >
        <div class="p-2">
          <h1 class="text-center text-white text-2xl">{{profile.clickedPokemon.name | titlecase}}</h1>
          <h1 class="text-center text-white text-xl">Index #{{profile.clickedPokemon.index}}</h1>
          <h1 class="text-center text-white text-xl">Weight: {{profile.clickedPokemon.weight}}</h1>
          <h1 *ngFor="let ability of profile.clickedPokemon.abilities" class="text-center text-white text-xl">Ability: {{ability | titlecase}}</h1>
        </div>
        </div>
    </div>
    </div>
    <!-- search bar -->
    <div class="flex flex-col items-center justify-center">
      <div>
        <h1 class="text-white text-xl font-bold">Pokemon Collection</h1>
      </div>
    <div class="pt-2 relative mx-auto text-gray-600 mb-2">
      <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        type="search" name="search" placeholder="Search" [(ngModel)]="listFilter" (ngModelChange)="onFilterChange()">
    </div>
  </div>
  <!-- grid for pokemon -->
  <div *ngIf="profile.filteredPokemon" class="grid grid-rows-{{numRows}} grid-cols-{{numCols}} gap-4 h-auto w-auto mx-auto justify-items-center">
    <!-- pokemon card -->
    <div *ngFor="let poke of profile.filteredPokemon" class="bg-black box-border border-4 border-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-slate-400 duration-300">
      <!-- <div class="photo-wrapper p-2">
        <button (click)="getPokemon(poke.name)">
        <img class="w-32 h-32 rounded-full mx-auto filter saturate-150" [src]="poke.image" alt="Pokemon">
      </button>
        </div> -->
        <div class="flex flex-col justify-items-center">
          <img class="w-32 h-32 rounded-full mx-auto filter saturate-150" [src]="poke.image" alt="Pokemon">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="getPokemon(poke.name)">
          Details
        </button>
          </div>
        <div class="p-2">
        <h3 class="text-xl text-center text-white font-medium leading-8">{{poke.name | titlecase}}</h3>
        </div>
    </div>
</div>

  </div>
  </div>

  <div class="alert alert-danger"
  *ngIf="errorMessage$ | async as errorMessage">
  {{errorMessage}}
  </div>



