<div *ngIf="signedIn; else notSignedUp">
<div *ngIf="userProfile$ | async as profile">
<div class="h-max min-h-screen bg-cover bg-no-repeat filter saturate-150 bg-fixed" style="background-image: url('assets/static/images/profileBackground.jpg')">
  <!-- flex for user profile info and pokemon display to the right -->
  <div class="flex flex-row justify-center items-center border-t-2 border-white">
    <h1 class="text-title items-center">Profile Page</h1>
  </div>
  <div class="flex flex-row h-16 justify-start ml-4">
    <div *ngIf="inbox$ | async as inbox" class="demo-section">
      <button class="font-normal" mat-raised-button color="primary" (click)="openInboxDialog()">
        Inbox
        <span *ngIf="inbox.length > 0" class="ml-2" matBadge="{{inbox.length}}"
              matBadgePosition="before" matBadgeColor="accent"></span>
      </button>
    </div>
  </div>
  <div class="h-1/4 flex flex-col md:flex-row justify-between items-center">
   <div class="flex flex-col md:w-1/2 justify-center items-center mt-4 md:mt-0">
      <!-- profile card -->
      <div class="photo-wrapper p-2">
        <img *ngIf="profilePicture$ | async as picture" class="w-32 h-32 rounded-full mx-auto" [src]="picture" alt="Good Old John Doe">
        </div>
        <div class="p-2">
        <h3 class="text-3xl text-center text-white font-normal leading-8">{{profile.currentUser.firstName | titlecase}} {{profile.currentUser.lastName | titlecase}}</h3>
                <p class="text-white text-xl text-center font-extralight">Pokemon Trainer</p>
              </div>
        <table class="text-xs">
            <tbody>
              <tr>
                <td class="flex justify-center items-center p-2 text-standard">Email: {{profile.currentUser.email}}</td>
              </tr>
              <tr>
                <td class="flex justify-center items-center p-2 text-standard">Username: {{profile.currentUser.username}}</td>
              </tr>
              <tr>
                <td class="flex justify-center items-center p-2 text-standard">PokeBalls: {{profile.currentUser.pokeBalls}}</td>
              </tr>
            </tbody>
        </table>
        <button class="bg-purple-700 hover:bg-black transition ease-in text-white font-normal py-2 px-4 rounded-full border-white border-2" (click)="openProfilePictureDialog()">
          Change Profile Picture
        </button>
    </div>
    <div class="flex flex-col w-1/2 md:w-auto justify-center items-center mt-4 md:mt-0 ml-auto mr-24">
      <!-- pokemon face -->
        <div  *ngIf="profile.clickedPokemon" class="card w-96 bg-base-100 shadow-xl border-4 border-black hover:contrast-200 hover:shadow-amber-50 hologram">
          <div class="flex justify-center items-start border-b-2 border-white bg-black">
          <figure class="px-10 pt-10">
            <img [src]="profile.clickedPokemon.backImage" alt="Clicked Pokemon" class="rounded-sm"/>
          </figure>
        </div>
          <div class="card-body items-center text-center bg-yellow-500">
            <h2 class="card-title text-3xl">{{profile.clickedPokemon.name | titlecase}}</h2>
            <h2 class="text-left text-xl">Index: {{profile.clickedPokemon.index}}</h2>
            <h2 class="text-left text-xl">Weight: {{profile.clickedPokemon.weight}}</h2>
            <h1 *ngFor="let ability of profile.clickedPokemon.abilities" class="text-left text-xl">Ability: {{ability | titlecase}}</h1>
          </div>
        </div>
    </div>
    </div>
    <!-- search bar -->
    <div class="flex flex-col items-center justify-center mt-4 md:mt-0">
      <div>
        <h1 class="text-title">Pokemon Collection</h1>
      </div>
    <div class="pt-2 relative mx-auto text-gray-600 mb-2">
      <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        type="search" name="search" placeholder="Search" [(ngModel)]="listFilter" (ngModelChange)="onFilterChange()">
    </div>
  </div>
  <!-- grid for pokemon -->
  <div class="flex justify-center items-center pb-2">
  <div *ngIf="filteredPokemon$ | async as currentUserPokemon" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 h-auto w-auto mx-auto">
    <!-- pokemon card -->
    <div *ngFor="let poke of currentUserPokemon" class="box-border border-4 border-black">
        <div class="flex flex-col justify-items-center shadow-xl hover:contrast-125 hover:shadow-amber-50">
          <div class="flex justify-center items-start border-b-2 border-black bg-white">
            <figure class="px-10 pt-10">
              <img [src]="poke.image" alt="Clicked Pokemon" class="rounded-sm"/>
            </figure>
          </div>
          <div class="bg-yellow-500 flex flex-col justify-center items-center pt-2">
        <button class="bg-yellow-700 hover:bg-black transition ease-in text-white font-normal py-2 px-4 rounded-full" (click)="getPokemon(poke.name)">
          Details
        </button>
        <h3 class="text-xl text-black font-medium leading-8 mb-2">{{poke.name | titlecase}}</h3>
          </div>
      </div>
    </div>
</div>
</div>
  </div>
  </div>
</div>

  <div class="alert alert-danger"
  *ngIf="errorMessage$ | async as errorMessage">
  {{errorMessage}}
  </div>

  <ng-template #notSignedUp>
    <div class="bg-slate-800 bg-opacity-50 flex justify-center items-center min-h-screen bg-cover bg-no-repeat filter saturate-150 bg-fixed border-t-2 border-white" style="background-image: url('https://images.alphacoders.com/119/119223.jpg')">
      <div class="bg-white px-8 md:px-16 py-10 md:py-14 rounded-md text-center">
        <h1 class="text-xl mb-4 font-bold text-slate-500">Do You Have An Account?</h1>
        <div class="flex flex-col md:flex-row justify-center items-center">
          <button color="primary" class="bg-purple-700 px-4 py-2 rounded-md text-md text-white mb-2 md:mb-0 md:mr-2" routerLink="/userlogin">Log In</button>
          <button class="bg-indigo-600 px-4 md:px-7 py-2 rounded-md text-md text-white mb-2" routerLink="/signup">Sign Up</button>
        </div>
      </div>
    </div>
  </ng-template>



