
<div *ngIf="inbox$ | async as inbox" class="flex flex-col justify-center items-center">
    <div *ngFor="let msg of inbox.messages" class="block mb-2 w-full">
      <button class="mr-2" mat-button color="primary" (click)="onViewMessage(msg)">
        Message
      </button>
      <h1>from {{msg.currentUsername}} sdfsdfsdfsdf</h1>
       <button class="ml-2" mat-fab color="primary" aria-label="Delete Icon" (click)="deleteMessage(msg)">
          <mat-icon>delete</mat-icon>
      </button>
      </div>
  </div>



