<h2>{{currentUser.firstName}}'s Pokemon</h2>
<div style="width: 50%; height:50%;">
<div *ngIf="pokemon$ | async as pokemon">
  <div *ngFor="let poke of pokemon">
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top img-fluid" [src]="poke.image" alt="Pokemon Front image">
      <button (click)="registerPicture(poke.image)"
        (click)="profilePicture()">Make Profile Picture</button>
      <div class="card-body">
        <h5 class="card-title">{{'Name: '+poke.name | titlecase}}</h5>
        <h6 class="card-text">{{'Index: '+poke.index}}</h6>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top img-fluid" [src]="poke.backImage" alt="Pokemon Back image">
      <div class="card-body">
        <h5 class="card-title">{{'Weight: '+poke.weight}}</h5>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


