
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import  "@angular/material/prebuilt-themes/deeppurple-amber.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.active {
  @apply bg-zinc-300
}

.profilePicture {
  @apply shadow-xl shadow-black
}

.text-standard {
  @apply text-white font-extralight text-xl
}


.text-standard-black {
  @apply text-black font-extralight text-xl
}

.text-title {
  @apply text-white font-normal text-3xl
}

.msgBackground {
  @apply bg-gray-300 border-2 border-black
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
