
<div class="border-t-2 border-white p-1 bg-cover bg-no-repeat bg-left bg-fixed opacity-120" style="background-image: url('https://wallpaperaccess.com/full/96963.jpg');">
  <div class="h-40 flex justify-center">
    <div class="flex flex-col w-full justify-between items-center">
      <h1 class="text-4xl text-white font-bold">Welcome To Pokemon Trading</h1>
      <h1 class="pb-2 text-3xl text-white font-bold">Top Trainers:</h1>
    </div>
  </div>
  <!-- Put something here for home page UI to be done -->
  <!-- Hero Image -->

    <!-- <div class="flex flex-row items-center justify-around w-full"> -->
      <!-- left arrow -->
      <!-- <button>
      <svg class="ml-2"xmlns="http://www.w3.org/2000/svg" viewBox="5 -2 50 40" width="200" height="100"><path d="M20 0H0v20h20zm-7.354 14.166-1.389 1.439-5.737-5.529 5.729-5.657 1.4 1.424-4.267 4.215z"/></svg>
      </button> -->
      <!-- right arrow -->
      <!-- <button>
      <svg class="mr-2"xmlns="http://www.w3.org/2000/svg" viewBox="5 -2 50 40" width="200" height="100"><path d="M20 0H0v20h20zM7.658 15.707l-1.414-1.414L10.537 10 6.244 5.707l1.414-1.414L13.365 10z"/></svg>
      </button> -->
    <!-- </div> -->
  <div class="grid grid-rows-auto grid-cols-3 gap-4 h-auto w-auto mx-auto justify-items-center ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
      <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
      <div class="flex flex-row justify-center">
        <div class="font-bold text-xl mb-2">Trainers Name</div>
        </div>
        <div class="flex flex-col justify-start">
          <div class="pl-4">
        <h1 class="text-gray-700 text-base">Playtime</h1>
        <h1 class="text-gray-700 text-base">Rank</h1>
        <h1 class="text-gray-700 text-base"># of Pokemon</h1>
      </div>
      </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
        <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
        <div class="flex flex-row justify-center">
          <div class="font-bold text-xl mb-2">Trainers Name</div>
          </div>
          <div class="flex flex-col justify-start">
            <div class="pl-4">
          <h1 class="text-gray-700 text-base">Playtime</h1>
          <h1 class="text-gray-700 text-base">Rank</h1>
          <h1 class="text-gray-700 text-base"># of Pokemon</h1>
        </div>
        </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
          <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
          <div class="flex flex-row justify-center">
            <div class="font-bold text-xl mb-2">Trainers Name</div>
            </div>
            <div class="flex flex-col justify-start">
              <div class="pl-4">
            <h1 class="text-gray-700 text-base">Playtime</h1>
            <h1 class="text-gray-700 text-base">Rank</h1>
            <h1 class="text-gray-700 text-base"># of Pokemon</h1>
          </div>
          </div>
          </div>
          <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
            <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
            <div class="flex flex-row justify-center">
              <div class="font-bold text-xl mb-2">Trainers Name</div>
              </div>
              <div class="flex flex-col justify-start">
                <div class="pl-4">
              <h1 class="text-gray-700 text-base">Playtime</h1>
              <h1 class="text-gray-700 text-base">Rank</h1>
              <h1 class="text-gray-700 text-base"># of Pokemon</h1>
            </div>
            </div>
            </div>
            <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
              <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
              <div class="flex flex-row justify-center">
                <div class="font-bold text-xl mb-2">Trainers Name</div>
                </div>
                <div class="flex flex-col justify-start">
                  <div class="pl-4">
                <h1 class="text-gray-700 text-base">Playtime</h1>
                <h1 class="text-gray-700 text-base">Rank</h1>
                <h1 class="text-gray-700 text-base"># of Pokemon</h1>
              </div>
              </div>
              </div>
              <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col bg-white">
                <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEgVto8VcM6BSP4pY1fUuC61o3wYvPB2jgEA&usqp=CAU" alt="ash pokemon trainer">
                <div class="flex flex-row justify-center">
                  <div class="font-bold text-xl mb-2">Trainers Name</div>
                  </div>
                  <div class="flex flex-col justify-start">
                    <div class="pl-4">
                  <h1 class="text-gray-700 text-base">Playtime</h1>
                  <h1 class="text-gray-700 text-base">Rank</h1>
                  <h1 class="text-gray-700 text-base"># of Pokemon</h1>
                </div>
                </div>
                </div>
    </div>
  </div>

